/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home {
    padding: 3px 50px;
    height: 500px;
}

#home::before {
    height: 660px;
}

#home p {
    font-size: 13px;
}

/* Services Section */
#services {
    flex-direction: column;
}

#services .box {
    flex-direction: column;
}

#services .box img {
    height: 100px;
    margin: auto;
    display: block;
}

/* Clients Section */
#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 40px;
    height: auto;
    padding: 1px 1px;
}

/* Contact us Section */
#contact-box form {
    width: 80%;
}

/* Footer */

/* Utility classes */
.h-primary {
    font-size: 25px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}